body {
	background: url('../images/artwork_3.jpg');
	/* the follow is the code to have the image display as a full page */
	background-position: center;
	background-attachment: fixed;
	-webkit-background-size: cover; /* the next 3 lines are "browser prefixes", they are necessary to include for CSS3 techniques */
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

#container {
    background: floralwhite;
    width: 450px;
    color: black;
    padding: 15px;
    font-family: 'Montserrat', sans-serif;
    opacity: 90%;
    line-height: 1.3;
    font-size: 18px;
    text-align: justify;
    border-radius: 0 15px 15px 0;
}

h1 {
    font-size: 180px;
    text-align: center;
    font-family: 'Sacramento', cursive;
    text-shadow: 2px 2px black;
    color: indianred;

}

h2 {
    background: indianred;
    color: white;
    padding: 5px;
    border-radius: 5px;
    text-align: center;
}
a {
    color: indianred;
    text-decoration: none;
    padding: 0 5px 0;
}